:root {
  --purple: hsl(259, 100%, 65%);
  --light: red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.6%;
}

body {
  background-color: var(--light-grey);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.2rem;
}

img {
  max-width: 100%;
}

.age-calculator-app {
  width: 80%;
  max-width: 84rem;
  margin: 0 auto;

  background-color: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 5.6rem;
  border-radius: 2.4rem 2.4rem 20rem 2.4rem;
}

.container{}